.user-form div{
    display: flex;
    flex-direction: column;
}

.user-form label{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom:5px;
    text-align:left;
}

.user-form input{
    height: 25px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 5px;
}